{% extends 'base.html' %}

{% block head %}
<title> About Page </title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <p>
        <b class="white">About</b><b style="font-size: 20px; font-weight: 400;color: white;">  my page.</b>
    <p I built this webpage using Flask Web-framework and Bootstrap.</p>
    </p>
        
    
   
    </div>
  
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: white;">Flask Web-Framework</h5>
                <p style="color: white">This Website is built using Flask which is a micro web framework written in Python</p>
              </div>
            <img style="display: block; margin: auto; float: left; margin-left: 50px;" src="static/images/f.png" alt="..." width="252">
            
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            
            <div class="carousel-caption d-none d-md-block">
              <h5 style="color: white;">Bootstrap Css-Framework</h5>
              <p style="color: white;">This Website is designed using bootstrap which is a Powerful, extensible, and feature-packed frontend toolkit. </p>
            </div>
            <img style="display: block; margin: auto; float: left; margin-left: 50px;" src="static/images/b.png" alt="..." width="300">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            
            <div class="carousel-caption d-none d-md-block">
              <h5 style="color: white;">SQLite3</h5>
              <p style="color: white;">This Website uses Python SQLite3 module which is used to integrate the SQLite database with Python.</p>
            </div>
            <img style="display: block; margin: auto; float: left; margin-left: 50px;" src="static/images/s.png" alt="..." width="201">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
{% endblock %}