{% extends 'base.html' %}

{% block head %}
<title> About Page </title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <p style="margin-top: 30px; margin-left:550px">
        <b class="white">About</b><b style="font-size: 20px; margin-top: 200px; font-weight: 400;color: white;">  my page.</b>
    <p style="font-size: 30px; color:white;">I built this webpage using Flask Web-framework, Bootstrap and SQLite3.</p>
    </p>
     <h5 style="color: white;">Flask Web-Framework</h5>
                <p style="color: white">This Webpage is built using Flask which is a micro web framework written in Python</p>
              
            <img style="display: block; margin: auto; float: left; margin-left: 150px;" src="static/images/f.png" alt="..." width="252">
            
          
      
         
              <h5 style="color: white;">Bootstrap Css-Framework</h5>
              <p style="color: white;">This Webpage is designed using bootstrap which is a Powerful, extensible, and feature-packed frontend toolkit. </p>
            
            <img style="display: block; margin: auto; float: left; margin-left: 105px;" src="static/images/b.png" alt="..." width="300">
        
          
              <h5 style="color: white;">SQLite3</h5>
              <p style="color: white;">This Website uses Python SQLite3 module which is used to integrate the SQLite database with Python.</p>
            
            <img style="display: block; margin: auto; float: left; margin-left: 100px;" src="static/images/s.png" alt="..." width="201">
          </div>
    
        


    
{% endblock %}